<div class="wrapper">
  <div class="header">
    <h1 class="title" (click)="search()" hoverable>
      <span class="logo">TV</span>
      Shows!
    </h1>
    <p class="subtitle">Searching: {{ currentSearch }}</p>
    <app-search-box (onSubmit)="search($event)"></app-search-box>
  </div>
  <div class="shows">
    <app-grid>
      <app-show-item
        *ngFor="let show of shows; let i = index"
        [routerLink]="'/shows/' + show?.name"
        [show]="show"
        [style.animationDelay.s]="0.04 * i"
        anim-fade-in
        hoverable
      ></app-show-item>
    </app-grid>
  </div>
  <app-error *ngIf="isError"></app-error>
</div>
