.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 188px);
  grid-template-rows: repeat(auto-fill, 300px);
  place-items: center;
  justify-items: end;
  justify-content: space-evenly;
  gap: 1rem;
}
