<div>
  <button (click)="onBackBtnPressed()" anim-fade-in>Back</button>
  <div class="wrapper" *ngIf="show">
    <img
      *ngIf="show.image?.medium"
      class="portrait"
      anim-slide-right
      [src]="show.image?.medium"
      [alt]="show.name"
    />
    <div class="detail" anim-slide-right>
      <h1>{{ show.name }}</h1>
      <app-stars-rating
        *ngIf="show.rating?.average"
        [value]="show.rating?.average"
      ></app-stars-rating>
      <p [innerHTML]="show.summary"></p>
      <span *ngFor="let genre of show.genres" class="genres">{{ genre }}</span>
    </div>
  </div>
  <app-error *ngIf="isError"></app-error>
</div>
